{% extends "main/header.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 l4 card-hover">
            <div class="card  blue-grey darken-1 z-depth-2 add-space">
                <div class="card-content white-text ">
                    <span class="card-title">What's Memo IT</span>
                    <ul class="dotted-list">
                        <li> Memo IT is a web application that allows you to store your memos in cloud, wherever you
                            are.
                        </li>
                        <li> In order to store data in cloud, you need a Memo account.</li>
                        <li> Application is fully responsive, so it adapts to device, no matter if it's desktop or
                            smartphone.
                        </li>
                        <li> Each note is related to user account, so there is no way to lookup another user's notes.
                        </li>
                        <li> While using phone, navigation bar is hidden, to use it's features you can open it within
                            navigation button.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4 card-hover">
            <div class="card  green accent-4 z-depth-2 add-space">
                <div class="card-content white-text">
                    <span class="card-title">Homepage</span>
                    <ul class="dotted-list">
                        <li> In homepage you can see all your memos sorted by published/edited date.</li>
                        <li> There are three types of notes: Text note, List note, Picture Note.</li>
                        <li> You can change color of each note to suit your needs.</li>
                        <li> In bottom right corner there is button to add a new note.</li>
                        <li> From this view you can delete or edit any note.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4 card-hover">
            <div class="card cyan lighten-2 z-depth-2 add-space">
                <div class="card-content white-text">
                    <span class="card-title"> Create / Edit Note </span>
                    <ul class="dotted-list">
                        <li> Each note stores information about: Title, Content, Time Published</li>
                        <li> For Text Note and Note List you can set one of desired themes (colors).</li>
                        <li> While editing note all of information is received from database and fetched info form.</li>
                        <li> In note list you can edit only desired elements.</li>
                        <li> Editing note page adapts note color for previously selected theme.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4 card-hover">
            <div class="card  amber accent-3 z-depth-2 add-space">
                <div class="card-content white-text">
                    <span class="card-title"> Account page </span>
                    <ul class="dotted-list">
                        <li> On account page there is information of all notes in table form, for easier management.</li>
                        <li> You can delete all your notes on single click.</li>
                        <li> In footer there is information about your account.</li>
                        <li> You can delete your account along with all your notes permanently.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4 card-hover">
            <div class="card  purple lighten-2 z-depth-2 add-space">
                <div class="card-content white-text">
                    <span class="card-title"> Rest Api </span>
                    <ul class="dotted-list">
                        <li> Coming soon...</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

