{% extends "main/header.html" %}
{% block content %}
    <div class="login row">
        <div style="padding-top: 50px;">
            <div class="card blue lighten-3 col s12 l6 offset-l3 m8 offset-m2 z-depth-5">
                <div class="card-content">
                    <span class="card-title white-text"> Register</span>
                    <div class="card-panel blue lighten-5">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <button class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">
                                register <br/> <i class="material-icons right">send</i></button>
                        </form>

                            If you already have an account, <a href="/login"><strong>login</strong></a> instead.

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
